<div class="col-md-10">
  <div class="row">
    <div class="col-md-10 col-md-offset-4">
      <div class="top-visual">
        <div class="top-visual-content">
          <div class="top-visual-text">
            <h1>茨城農場へようこそ！</h1><br>
            <h4>このサイトでは、茨城農場の商品の閲覧や農場のイベントを見る事ができます。</h4><br>
            <h4>気になった方は「お問い合わせ」からご連絡お願いいたします！</h4><br>
          </div>
        </div>
      </div>
    </div>
  </div>