<div class="row">
  <div class="col-md-5">
    <div class="row">
      
      <h2><%= @event.title %></h2>
      <h2><%= @event.start %></h2>
      <h2><%= @event.end %></h2>
      <h4><%= @event.explanation %></h4>
    </div>
  </div>