<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <div class="flex">
      <div>
        <h1>このサイトはHPを持っていない事業者の方に向けて<br>
            自分の商品をPRする事ができるサイトを作りたいと思いから、作成した架空のHPです！
        </h1>
      </div>
      <div>
        <h2>[機能のご紹介] 大きく分けて3つございます</h2>
      </div>
      <div>
        <h3>1つ目は<br>
          商品を宣伝したい時やイベントを開催したい時に投稿機能からデータを入力してもらえれば、ユーザーに見てもらう事ができます。
        </h3>
        <h4>
          商品関連であれば、写真込みで商品名等を投稿する事ができます。<br>
          イベント関連であれば、日付等を投稿でき、後ほどご紹介するお問い合わせ欄から集客が可能です。
      </div>
      <div>
        <h3>2つ目は<br>
          いいね・コメント機能です
        </h3>
        <h4>
          投稿が終わった商品は、ユーザーが見る事ができ、気に入った商品をいいね・コメントしてもらう事ができます。<br>
          管理者画面からいいね・コメントの一覧を見る事ができ、どの商品が人気なのかを確認する事ができます。<br>
        </h4>
      </div>
      <div>
        <h3>3つ目は<br>
          お問い合わせ機能です
        </h3>
        <h4>
          商品やイベントについての質問を受け付ける事ができ、お問い合わせした方から設定したメールアドレスにメールが届きます。<br>
          そのため、サイトを開いていなくてもお問い合わせ状況が分かります。
        </h4>
      </div>
      <div>
        <h2>以上です。実際に管理者画面に入ってどのように動くのか確認してもらえると幸いです。
      </div>
    </div>
  </div>
</div>
