<div class="roew">
  <div class="col-md-8 col-md-offset-4">
    <h2><b>本当に退会しますか？</b></h2>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-8 col-md-offset-4">
    <P>退会すると、会員情報や</P><br>
    <p>商品ページ以外の情報が閲覧できなくなります。</p><br>
    <p>退会する場合は、「退会する」をクリックしてください。</p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3 col-md-offset-4">
    <%= link_to "退会しない", customers_informations_path, class: "btn btn-primary" %>
  </div>
  <div class="col-md-3">
    <%= link_to "退会する", customers_informations_out_path, method: :patch, class: "btn btn-danger" %>
  </div>
</div>
</div>